<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- bootstrap은 jquery에 의존하기에 jquery먼저 선언하고 그 뒤에 선언 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>