<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- 페이지 로딩 속도를 높이기 위해 css는 header에 js는 footer에 놓음. -->
    <!-- HTML은 위에서부터 코드가 실행되기에 head가 다 실행되고 body가 실행됌. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>